*.html
*.tsv
*.pyc
*.fasta.gz
*.mgf*
*.mgf
*.mzxml
.idea
*zip
*napsack*
job*
*ckpt*
*.log

src/__pycache__/
resources/SMSNet/smsnet_phospho/
resources/DeepNovo
resources/DeepNovo_Antibody/train.doremon.resolution_50.epoch_20.da_4500.ab.training.mouse
resources/PointNovo/train
example_dataset/
*MassIVE_HCD*