asn1crypto==1.4.0
backports.weakref==1.0rc1
biopython==1.74
bleach==1.5.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
enum34==1.1.6
funcsigs==1.0.2
html5lib==0.9999999
idna==2.10
ipaddress==1.0.23
Markdown==3.1.1
mock==3.0.5
numpy==1.16.5
pandas==0.24.2
protobuf==3.11.4
pycparser==2.20
pyOpenSSL==20.0.1
PySocks==1.7.1
pyteomics==4.4.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
tensorflow==1.2.0
urllib3==1.25.7
webencodings==0.5.1
Werkzeug==1.0.1
