# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=1_gnu
absl-py=0.5.0=pypi_0
astor=0.7.1=pypi_0
backcall=0.1.0=pypi_0
bleach=1.5.0=pypi_0
ca-certificates=2021.10.8=ha878542_0
certifi=2018.8.24=py35_1001
chardet=4.0.0=pypi_0
cycler=0.10.0=pypi_0
decorator=4.3.0=pypi_0
defusedxml=0.5.0=pypi_0
entrypoints=0.2.3=pypi_0
enum34=1.1.10=pypi_0
future-fstrings=1.2.0=pypi_0
gast=0.2.0=pypi_0
grpcio=1.15.0=pypi_0
h5py=2.8.0=pypi_0
html5lib=0.9999999=pypi_0
idna=2.10=pypi_0
ipykernel=5.0.0=pypi_0
ipython=7.0.1=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.4.2=pypi_0
jedi=0.13.1=pypi_0
jinja2=2.10=pypi_0
jsonschema=2.6.0=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=5.2.3=pypi_0
jupyter-console=6.0.0=pypi_0
jupyter-core=4.4.0=pypi_0
jupyterlab=0.35.0=pypi_0
jupyterlab-server=0.2.0=pypi_0
keras=2.2.4=pypi_0
keras-applications=1.0.6=pypi_0
keras-preprocessing=1.0.5=pypi_0
kiwisolver=1.0.1=pypi_0
libgcc-ng=11.2.0=h1d223b6_11
libgomp=11.2.0=h1d223b6_11
libzlib=1.2.11=h36c2ea0_1013
markdown=3.0.1=pypi_0
markupsafe=1.0=pypi_0
matplotlib=3.0.2=pypi_0
mistune=0.8.3=pypi_0
nbconvert=5.4.0=pypi_0
nbformat=4.4.0=pypi_0
ncurses=5.9=10
notebook=5.7.0=pypi_0
numpy=1.15.2=pypi_0
openssl=1.0.2u=h516909a_0
pandas=0.24.1=pypi_0
pandocfilters=1.4.2=pypi_0
parso=0.3.1=pypi_0
pexpect=4.6.0=pypi_0
pickleshare=0.7.5=pypi_0
pip=20.3.4=pyhd8ed1ab_0
prometheus-client=0.4.0=pypi_0
prompt-toolkit=2.0.5=pypi_0
protobuf=3.6.1=pypi_0
ptyprocess=0.6.0=pypi_0
pygments=2.2.0=pypi_0
pyparsing=2.3.1=pypi_0
pyteomics=4.5=pypi_0
python=3.5.2=5
python-dateutil=2.7.3=pypi_0
pytz=2018.9=pypi_0
pyyaml=3.13=pypi_0
pyzmq=17.1.2=pypi_0
qtconsole=4.4.1=pypi_0
readline=6.2=0
requests=2.25.1=pypi_0
scikit-learn=0.20.2=pypi_0
scipy=1.2.1=pypi_0
seaborn=0.9.0=pypi_0
send2trash=1.5.0=pypi_0
setuptools=39.1.0=pypi_0
simplegeneric=0.8.1=pypi_0
six=1.11.0=pypi_0
sklearn=0.0=pypi_0
sqlite=3.13.0=1
tensorboard=1.11.0=pypi_0
tensorflow=1.11.0=pypi_0
tensorflow-gpu=1.11.0=pypi_0
tensorflow-tensorboard=0.4.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.8.1=pypi_0
testpath=0.4.2=pypi_0
tk=8.5.19=2
tokenize-rt=3.2.0=pypi_0
tornado=5.1.1=pypi_0
traitlets=4.3.2=pypi_0
urllib3=1.26.4=pypi_0
wcwidth=0.1.7=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=0.14.1=pypi_0
wheel=0.37.0=pyhd8ed1ab_1
widgetsnbextension=3.4.2=pypi_0
xz=5.2.5=h516909a_1
zlib=1.2.11=h36c2ea0_1013
