backports.functools-lru-cache==1.6.4
certifi==2020.6.20
chardet==4.0.0
configparser==4.0.2
cycler==0.10.0
docutils==0.17.1
funcsigs==1.0.2
idna==2.10
kiwisolver==1.1.0
matplotlib==2.2.5
mock==3.0.5
numpy==1.16.6
pandas==0.24.2
protobuf==3.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
statistics==1.0.3.5
subprocess32==3.5.4
tensorflow==0.12.0rc0
UpSetPlot==0.4.1
urllib3==1.26.4
