# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
backports-functools-lru-cache=1.6.4=pypi_0
ca-certificates=2021.10.8=ha878542_0
certifi=2019.11.28=py27h8c360ce_1
chardet=4.0.0=pypi_0
configparser=4.0.2=pypi_0
cycler=0.10.0=pypi_0
docutils=0.17.1=pypi_0
funcsigs=1.0.2=py_3
future-fstrings=1.2.0=pypi_0
idna=2.10=pypi_0
kiwisolver=1.1.0=pypi_0
libblas=3.9.0=11_linux64_openblas
libcblas=3.9.0=11_linux64_openblas
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgfortran-ng=11.2.0=h69a702a_11
libgfortran5=11.2.0=h5c6108e_11
libgomp=9.3.0=h5101ec6_17
liblapack=3.9.0=11_linux64_openblas
libopenblas=0.3.17=pthreads_h8fe5266_1
libstdcxx-ng=9.3.0=hd4cf53a_17
matplotlib=2.2.5=pypi_0
mock=3.0.5=py27h8c360ce_1
ncurses=6.3=heee7806_1
numpy=1.16.6=pypi_0
pandas=0.24.2=pypi_0
pip=19.3.1=py27_0
protobuf=3.1.0=pypi_0
pyparsing=2.4.7=pypi_0
pyteomics=4.5=pypi_0
python=2.7.18=ha1903f6_2
python-dateutil=2.8.1=pypi_0
python_abi=2.7=1_cp27mu
pytz=2021.1=pypi_0
readline=8.1=h27cfd23_0
requests=2.25.1=pypi_0
setuptools=44.0.0=py27_0
six=1.15.0=pypi_0
sqlite=3.36.0=hc218d9a_0
statistics=1.0.3.5=pypi_0
subprocess32=3.5.4=pypi_0
tensorflow=0.12.0=pypi_0
tk=8.6.11=h1ccaba5_0
tokenize-rt=3.2.0=pypi_0
typing=3.10.0.0=pypi_0
upsetplot=0.4.1=pypi_0
urllib3=1.26.4=pypi_0
wheel=0.37.0=pyhd3eb1b0_1
zlib=1.2.11=h7b6447c_3
